/* Raíz */
.root {
	-fx-background-color: #333333;
	-fx-font-family: monospace;
	-fx-hgap: 1px;
	-fx-vgap: 1px;
}

.text-field {
	-fx-text-fill: lightgrey;
	-fx-text-alignment: right;
	-fx-font-size: 25pt;
	-fx-font-weight: bold;
	-fx-padding: 10px;
	-fx-background-color: transparent;
	-fx-background-insets: 0px;
}

.button {
	-fx-font-size: 16pt;
	-fx-background-radius: 0px;
	-fx-background-insets: 0px;
}

.button:focused {
	-fx-border-color: white;
}

.button:armed {
	-fx-border-color: yellow;
}

.boton-numerico {
	-fx-text-fill: white;
	-fx-background-color: grey;
}

.boton-numerico:hover {
	-fx-text-fill: #333333;
	-fx-background-color: white;
}

.boton-numerico:pressed {
	-fx-text-color: lightgrey;
	-fx-background-color: black;
}

.boton-reset {
	-fx-text-fill: black;
	-fx-background-color: lightgrey;
}

.boton-reset:hover {
	-fx-background-color: white;
}

.boton-reset:pressed {
	-fx-text-fill: lightgrey;
	-fx-background-color: black;
}

.boton-op {
	-fx-background-color: orange;
	-fx-text-fill: white;
}

.boton-op:hover {
	-fx-background-color: darkorange;
}

.boton-op:hover:default{
	-fx-background-color: red;
}

.boton-op:pressed {
	-fx-background-color: white;
	-fx-text-fill: orange;
}

#igualButton {
	-fx-background-color: orangered;
}

